.aboutMe {
  height: 400px;
  opacity: 3;
  width: 90%;
  text-align: center;
  margin-top:200px;


  .title{
    /* animation properties */
    color: #ffcc00;
    opacity: 2;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    font-family: 'Freedom45', sans-serif;
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .cv-text{
    font-family: 'h Huddle Stone', sans-serif;

  }
}

.containers:hover,
.containers:active {
 /* !*background-color: #ffcc00;
  width: 600px;
  height: 500px;*!
  height: 400px;
  opacity: 3;
  width: 90%;*/
  box-shadow: 1px 1px 50px #ffcc00;


}


