
.chatParrent{
         margin-top: 100px;
        position: fixed;
        width: 200px;
        height: 200px;
        background-color: #f0f0f0;
        border-radius: 20px;
        z-index: 3;
        top: 100px;
        .chat {
                width: 200px;
                height: 200px;
                background-color: #f0f0f0;
                border-radius: 20px;
                z-index: 3;
                top: 100px;


        }
}
