@import url('https://fonts.cdnfonts.com/css/freedom45');
@import url('https://fonts.cdnfonts.com/css/howlimit');
@import url('https://fonts.cdnfonts.com/css/h-huddle-stone');
@import url('https://fonts.cdnfonts.com/css/broken-crowbar');
@import url('https://fonts.cdnfonts.com/css/georgia');



@import "head";
@import "aboutMe";
@import "mySkills";
@import "myProjects";
@import "address";
html {
  scroll-behavior: smooth;
  body {
    background-color: #021F23;
    color: #001D32;

    .containers {

      margin-left: 50px;
      background-color: #001D32;
      color: rgb(203, 229, 255);
      border-radius: 8px; /* Rounded corners */
      overflow: hidden;
      padding-top: 5px;

    }
  }
}

