.head {
  position: fixed;
  z-index: 1;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #021F23;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #001D32;
  transition: background-color 1s ease-out 100ms, opacity 1s ease-out 100ms;
  opacity: 0.8;
  top:1px;
  .word {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 150px;

    .numeric {
      font-size: 40px;
      width: auto;
      color:  #ffcc00;
      text-shadow: 5px 2px 1px darkblue;
      filter: brightness(100%);
      font-family: 'h Huddle Stone', sans-serif;


    }
    .name {
      font-size: 30px;
      width: auto;
      color: #ffcc00;
      text-shadow: 1px 2px 1px darkblue;
      font-family: 'h Huddle Stone', sans-serif;
      filter: brightness(100%);


    }
  }

  #target{
    width: auto;
    length: auto;
    color: white;
    text-decoration: inherit;
    text-align: center;
    font-family: 'h Huddle Stone', sans-serif;
    img {
      width: 10px;
      height: 10px;
    }
  }

  .selector{
    width: auto;
    background: none;
    border: none;
    outline: none;
    height: auto;
    cursor: pointer;
    transition: 1s ease-in-out;
    color:  #ffcc00;
    align-items: center;
    font-size: 30px;
    text-decoration: inherit;
    text-align: center;
    font-family: 'h Huddle Stone', sans-serif;

  }
  .container{
    display: none;
    .divGeo {
      /* font-size: 30px; */
      text-decoration: inherit;
      text-align: center;
      font-family: "h Huddle Stone", sans-serif;
      color:white;
      img {
        width: 10px;
        height: 10px;
      }

    }
  }


  .button {
    width: auto;
    background: none;
    border: none;
    outline: none;
    height: auto;
    cursor: pointer;
    transition: 1s ease-in-out;
    color:  #ffcc00;
    align-items: center;
    font-size: 30px;
    text-decoration: inherit;
    text-align: center;
    font-family: 'h Huddle Stone', sans-serif;

  }

  .button:hover,
  .button:active {
    border-radius: 50px;
    background: #ffcc00;
    color: #001D32;
    box-shadow: 2px 40px 100px #ffcc00;

  }
}
.head:hover,
.head:active {
  opacity: 100%;
}