.head {
  position: fixed;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #021F23;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #001D32;
  transition: background-color 1s ease-out 100ms, opacity 1s ease-out 100ms;
  opacity: 0.8;
  margin-top: 50px;

  .button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    color: #ffffff;
    align-items: center;
    text-decoration: inherit;
    text-align: center;
    text-shadow: 1px 1px 1px #ff9a3c;
    box-shadow: 1px 2px 3px  darkgrey;
    href: inherit;
    padding-top: 10px;
  }

  .button:hover,
  .button:active {
    transition: 1s ease-in-out;
    background: #4F95DA;
    color: hsl(227, 10%, 10%);
    box-shadow: 2px 40px 100px #3498db ;

  }

}
.head:hover,
.head:active {
  opacity: 100%;
}